@import "../../mixins.scss";

.menu {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: auto;
  background-color: var(--colors-neutral-100);
  box-shadow: 0px 0px 4px #17202a5a;
  border-radius: var(--edges-curvature-100);
  transition: all 0.3s;
  z-index: -1;
  transform: translateY(-260px);
  padding: 20px;
  @include flex(column, initial, center, 20px);

  @media screen and (max-aspect-ratio: 10/8) {
    width: 100%;
    padding: 20px 30px;
  }
}

.open_menu {
  opacity: 1;
  z-index: 10;
  transform: translateY(70px);
  @media screen and (max-aspect-ratio: 10/8) {
    transform: translateY(295px);
  }
}

.card {
  @include size(100%, auto, 0, 0);
  @include flex(row, space-between, center, 10px);
  transition: all 0.3s ease-in-out;
  flex-wrap: wrap;

  span {
    font-size: 0.9rem;
  }
}

.switch {
  --switch_width: 2.4em;
  --switch_height: 1.2em;
  --thumb_color: var(--colors-neutral-100);
  --track_color: var(--colors-neutral-100);
  --track_active_color: var(--colors-neutral-400);
  --outline_color: var(--colors-neutral-900);
  font-size: 18px;
  position: relative;
  display: inline-block;
  width: var(--switch_width);
  height: var(--switch_height);
}

.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.3s;
  border-radius: var(--switch_height);
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}

.input:checked + .slider {
  background-color: var(--track_active_color);
}

.input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

.input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

.input:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
}

.input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

.color {
  width: 24px;
  height: 24px;
  border-radius: var(--edges-curvature-900);
  border: solid 3px transparent;
  cursor: pointer;
}

.selected_color {
  border: solid 3px var(--colors-neutral-900);
}

.typography {
  cursor: pointer;
  font-weight: 400;
  color: var(--colors-neutral-500);
}

.selected_typography {
  font-weight: 600;
  color: var(--colors-accent-100);
}
