@import "../../mixins.scss";

.card {
  @include size(
    var(--measures-header-width),
    calc(var(--vh) - calc(var(--measures-header-height) + 16px)),
    0,
    (calc(var(--measures-header-height) + 16px)) 0 0 0
  );
  @include flex(column, center, center, 0.5rem);
  position: relative;
  padding-bottom: 60px;

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    gap: 1.6rem;
  }
}

.title {
  @include text(7rem, 400, start);
  color: var(--colors-neutral-800);
  position: relative;

  @media screen and (max-height: 800px) and (orientation: landscape) {
    font-size: 5rem;
  }

  @media screen and (max-aspect-ratio: 10/8) {
    font-size: 4rem;
  }

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    display: none;
  }
}

.picture {
  position: absolute;
  background: url("../../assets/images/profile.webp");
  background-size: contain;
  width: 200px;
  height: 200px;
  display: none;
  z-index: 20;
  border-radius: var(--edges-curvature-200);

  @media screen and (max-aspect-ratio: 10/8) {
    display: none !important;
  }
}

.name {
  @include text(8rem, 800, center);
  color: var(--colors-accent-100);
  position: relative;
  cursor: none;

  @media screen and (max-height: 800px) and (orientation: landscape) {
    font-size: 6rem;
  }

  @media screen and (max-aspect-ratio: 10/8) {
    font-size: 5rem;
  }

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    font-size: 4.6rem;
    line-height: 1;
  }
}

.subtitle_container {
  @include flex(row, center, center, 1rem);

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    flex-direction: column;
  }
}

.subtitle {
  @include text(2.4rem, 300, start);
  color: var(--colors-neutral-600);

  @media screen and (max-height: 800px) and (orientation: landscape) {
    font-size: 2rem;
  }

  @media screen and (max-aspect-ratio: 10/8) {
    font-size: 2rem;
  }

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    font-size: 1.8rem;
  }
}

.circle {
  display: grid;
  place-items: center;
  position: absolute;
  right: -18%;
  top: -110%;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease-in;

  svg {
    position: absolute;
    overflow: visible;
    animation: rotate 8s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  path {
    fill: none;
  }

  text {
    fill: var(--colors-neutral-500);
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 8px;
  }

  .button {
    @include size(120px, 120px, 1rem, 0);
    border-radius: 50%;
    background-color: var(--colors-accent-100);

    p {
      @include text(24px, 500, center);
      color: white;
      word-wrap: break-word;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-height: 800px) and (orientation: landscape) {
    top: -150%;
    right: -30%;
  }

  @media screen and (max-aspect-ratio: 10/8) {
    top: -220%;
    right: -20%;
  }
}

.icons {
  @include flex(row, center, center, 20px);

  a {
    @include size(2rem, 2rem);

    svg {
      @include size();
      fill: var(--colors-neutral-600);
    }

    &:hover {
      svg {
        fill: var(--colors-accent-100);
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
