@import "../../mixins.scss";

.section {
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--colors-neutral-200);
  @include flex(column, center, center, 0);
}

.card {
  @include size(initial, calc(var(--vh) - var(--measures-footer-height)));
  @include flex(column, center, center, 2rem);
  @media screen and (max-aspect-ratio: 10/8) {
    padding-top: calc(var(--measures-header-height) + 16px);
  }
}

.title {
  @include text(7rem, 800, center);
  text-transform: uppercase;
  @include flex(row, center, center, 10px);
  color: var(--colors-neutral-800);
  @media screen and (max-aspect-ratio: 10/8) {
    color: var(--colors-neutral-500);
  }
}

.email {
  @include flex(row, center, center, 20px);
  cursor: pointer;
  h2 {
    @include text(4rem, 500, center);
    @media screen and (max-aspect-ratio: 10/8) {
      overflow-wrap: break-word;
      width: 100%;
      font-size: 12vw;
    }
  }

  .copy {
    position: relative;
    transition: all 0.5s;
    svg {
      font-size: 3rem;
      path {
        fill: var(--colors-neutral-900);
        @media screen and (max-aspect-ratio: 10/8) {
          fill: var(--colors-neutral-400);
        }
      }
      @media screen and (max-aspect-ratio: 10/8) {
        font-size: 5rem;
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover h2,
  &:hover .copy > svg > path {
    color: var(--colors-accent-100);
    fill: var(--colors-accent-100);
  }

  @media screen and (max-aspect-ratio: 10/8) {
    max-width: var(--measures-page-width);
    flex-wrap: wrap;
    overflow-wrap: break-word;
  }
}
