@import "../../mixins.scss";

.container {
  width: var(--measures-page-width);
  max-width: 800px;
  min-height: 60px;
  height: auto;
  position: absolute;
  bottom: 60px;
  overflow-x: hidden;
  @include flex(row, center, center);

  > div {
    @include flex(row, center, center);
    width: fit-content;

    > div {
      @include flex(row, center, center, 36px);
      animation: loop linear infinite;

      > span {
        white-space: nowrap;
        color: var(--colors-neutral-500);
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  & ::after,
  ::before {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  & ::before {
    background: linear-gradient(
      to left,
      var(--colors-neutral-000),
      transparent
    );
    right: 0;
  }

  & ::after {
    background: linear-gradient(
      to right,
      var(--colors-neutral-000),
      transparent
    );
    left: 0;
  }
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-33.33%);
  }
}
