@import "../../mixins.scss";

.footer {
  @include flex(column, center, center, 1rem);
  height: var(--measures-footer-height);
  width: var(--measures-footer-width);
  border-top-left-radius: var(--edges-curvature-200);
  border-top-right-radius: var(--edges-curvature-200);
  background-color: var(--colors-neutral-100);
  max-width: 800px;
  z-index: 5;
}

.author {
  @include flex(row, center, center, 6px);
  @include text(1rem, 300, center);
  color: var(--colors-neutral-700);

  a {
    font-size: inherit;
    color: var(--colors-neutral-800);

    &:hover {
      text-decoration: underline;
      color: rgb(106, 138, 225);
    }
  }

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    font-size: 0.8rem;

    a {
      font-size: 0.8rem;
    }
  }
}
