@import "../../mixins.scss";

.card {
  @include size(
    100%,
    calc(var(--vh) - calc(var(--measures-header-height) + 16px)),
    60px 100px 60px,
    (calc(var(--measures-header-height) + 16px)) 0 0 0
  );
  @include flex(column, center, center, 3rem);
  position: relative;

  @media screen and (max-height: 800px) and (orientation: landscape) {
    padding-top: 40px;
    gap: 1.5rem;
  }

  @media screen and (max-aspect-ratio: 10/8) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-aspect-ratio: 10/13) and (max-width: 590px) {
    padding-left: 0;
    padding-right: 0;
    gap: 1.5rem;
  }
}
